p {
	font-family:Verdana;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
table {
	font-family:Verdana;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
div {
	font-family:Verdana;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
li {
	font-family:Verdana;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
.normal {
	font-family:Verdana;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
.h1 {
	font-family:Verdana;
	font-size:10pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	margin:0px 0px 14px 0px;
	padding:0px;
}
.h2 {
	font-family:Verdana;
	font-size:8pt;
	color:#333333;
	font-weight:bold;
	margin:0px 0px 2px 0px;
	padding:0px;
}
.h3 {
	font-family:Verdana;
	font-size:8pt;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	margin:0px 0px 2px 0px;
	padding:0px;
}
.h4 {
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h5 {
	font-family:Arial,Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h6 {
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	letter-spacing:1px;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.submenu1 {
	font-family:sans-serif;
	font-size:10pt;
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-color:#CFD3F5;
	border-width:2px 0px 2px 0px;
	border-top-style:solid;
	border-bottom-style:none;
	border-top-color:#EF6D00;
	border-bottom-color:#000000;
	border-left-color:#000000;
	border-right-color:#000000;
}
.submenu1sel {
	font-family:Verdana;
	font-size:10pt;
	color:#0000FF;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-image:url(gre/gre18099.png);
	border-width:1px;
	border-style:solid;
	border-color:#000000;
}
.submenu1over {
	font-family:sans-serif;
	font-size:10pt;
	color:#FF0000;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-color:#CFD3F5;
	border-width:2px 0px 2px 0px;
	border-top-style:solid;
	border-bottom-style:none;
	border-top-color:#EF6D00;
	border-bottom-color:#000000;
	border-left-color:#000000;
	border-right-color:#000000;
}
.submenu2 {
	font-family:sans-serif;
	font-size:10pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-color:#CFD3F5;
	border-width:2px 0px 2px 0px;
	border-top-style:solid;
	border-bottom-style:none;
	border-top-color:#EF6D00;
	border-bottom-color:#000000;
	border-left-color:#000000;
	border-right-color:#000000;
}
.submenu2sel {
	font-family:Verdana;
	font-size:10pt;
	color:#0000FF;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-image:url(gre/gre18099.png);
	border-width:1px;
	border-style:solid;
	border-color:#000000;
}
.submenu2over {
	font-family:sans-serif;
	font-size:10pt;
	color:#FF0000;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-color:#CFD3F5;
	border-width:2px 0px 2px 0px;
	border-top-style:solid;
	border-bottom-style:none;
	border-top-color:#EF6D00;
	border-bottom-color:#000000;
	border-left-color:#000000;
	border-right-color:#000000;
}
.submenu1selnotbounded {
	font-family:Verdana;
	font-size:10pt;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	vertical-align:middle;
	text-indent:4px;
	background-image:url(gre/gre18121.png);
}
.pathmenu1 {
	font-family:Verdana;
	font-size:6pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	text-indent:4px;
	background-color:#FF9966;
	border-width:0px;
	border-style:none;
	border-color:#000000;
}
.pathmenu1over {
	font-family:Verdana;
	font-size:6pt;
	color:#FF0000;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	text-indent:4px;
	background-color:#FF9966;
	border-width:0px;
	border-style:none;
	border-color:#000000;
}
.pathmenu1sel {
	font-family:Verdana;
	font-size:6pt;
	color:#0000FF;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	text-indent:4px;
	background-color:#FF9966;
	border-width:0px;
	border-style:none;
}
